* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

/* Buttons */

.primary-button {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  background-color: rgb(29, 158, 87);
  color: #fff;
  margin: 20px 0px;
  padding: 10px 5px 10px 5px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-family: 600;
  position: relative;
  /* Ensure relative positioning for absolute child */
  display: inline-flex;
  /* Use flex to align items */
  align-items: center;
  /* Center items vertically */
  justify-content: center;
  transition: background-color 0.3s ease;
}

.secondary-button{
  width: 100px;
  height: 30px;
  border-radius: 12px;
  background-color: rgb(29, 158, 87);
  color: #fff;  
  cursor: pointer;
  border: none;
  font-size: 14px;
  font-family: 600;
  position: relative;
  /* Ensure relative positioning for absolute child */
  display: inline-flex;
  /* Use flex to align items */
  align-items: center;
  /* Center items vertically */
  justify-content: center;
  transition: background-color 0.3s ease;
}


/* Popup -Model */
/* ***************************************** */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* shadow effect */
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 9999;
}

.popup-close-button {
  position: absolute;
  border: none;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  align-self: flex-end;
}

.pop-up-text {
  font-size: 16px;
  padding: 25px;
}

.popup-style {
  width: 85vw;
  height: 90vh;
  padding: 10px;
  max-width: 1240px;
}

.popup-special {
  width: 50vw;
  height: 90vh;
}

/* Loader */
/* *********************************** */

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.save-loader-background-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ThreeDots Loader */
/* ******************************************* */
/* ThreeDotsLoader.css */

/* Loader container styles */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 40px; /* Adjusted width */
  height: 10px; /* Adjusted height */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; /* Centering the loader */
}

.lds-ellipsis div {
  position: absolute;
  top: 33%;
  width: 8px; /* Reduced width */
  height: 8px; /* Reduced height */
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 24px; /* Adjusted position */
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 40px; /* Adjusted position */
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(16px, 0); /* Adjusted translation */
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}


/* App */
/* ------------------------------------------------------------------- */

.main-home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
}

.main-home section{
  width: 100%;
  height: 100%;
}



/* Header */
/* ------------------------------------------------------------------ */

.header-main {
  width: 100%;
  height: 8%;
  background-color: rgb(29, 158, 87);
  columns: #fff;
  padding: 5px 20px 5px 20px;
  position: fixed;
}

.header-main nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-main nav div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.header-main nav div a {
  color: #fff;
  font-size: 24px;
}

/* Authuntication */
/* ------------------------------------------------------------- */

.authuntication-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.authuntication-main form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
  height: 50%;
  padding: 10px 8%;
  background-color: #fff;
  box-shadow: 'hsla(220, 30%, 5%, 0.05) 0px 5px 15px 0px, hsla(220, 25%, 10%, 0.05) 0px 15px 35px -5px';
  gap: 10px;

}

.authuntication-main form div {
  width: 100%;
  height: 100px;
}

.authuntication-main form label {
  font-size: 20px;
  font-weight: 600;
  color: rgb(29, 158, 87);
}

.authuntication-main form div input {
  width: 100%;
  height: 40px;
  border: 1px solid #CECECE;
  border-radius: 8px;
  margin: 10px 0px;
  font-size: 16px;
  padding-left: 30px;
  font-weight: 600;
}

.authuntication-main form div input:hover {
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-radius: 8px;
  margin: 10px 0px;
  font-size: 16px;
  padding-left: 30px;
  font-weight: 600;
}

.mandatory {
  color: #e62e28;
  font-size: 18px;
  font-weight: bolder;
}

.error-msg {
  color: red;
  padding-left: 10px;
  font-size: 10px;
  text-decoration: none;
}


/* Sidemenu */
/* ------------------------------------------------------------------ */

.main-sidemenu {
  width: 100%;
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 8%;
  /* z-index: -9999; */
}


.invoice-numbers-list {
  width: 100%;
  height: 87%;
}

.bulk-selection-container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  height: 8%;
}

.bulk-selection-container div{
  gap: 5px;
  display: flex;
}

.invoice-numbers-list h3 {
  margin-bottom: 10px;
}

.select-all {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.select-all input {
  margin-right: 5px;
}

.table-container {
  width: 100%;
  height: 92%;  
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  height: 100%;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 6px 10px;
  text-align: left;
}

table thead {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  z-index: 1;  
}

.table-container tbody {
  display: block;
  height: calc(100% - 40px); /* Adjust based on header height */
  overflow-y: auto;
  scrollbar-width: none;

}

.table-container thead,
.table-container tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

table th {
  background-color: #f2f2f2;
}

.checkbox-class {
  margin-right: 10px;
}

.user-input-details {
  margin-top: 20px;
}

.user-input-details p {
  margin-bottom: 10px;
}

.user-input-details div {
  margin-bottom: 10px;
}

.user-input-details label {
  margin-left: 5px;
}
.radio-buttons-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.radio-buttons-container div{
  gap: 5px;
display: flex;
}

.search-container {
  position: relative;
  display: inline-block;
}

.search-input{
  display: flex;
  align-self: flex-end;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid;
  height: 5%;
}

.status-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.action-buttons-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7%;
}









.example-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#myGrid {
  flex: 1 1 0px;
  width: 100%;
}

